<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link   href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
 
<body>
    <div class="container contenedor">
    <div class="col-xs-9 col-xs-offset-2">
            <img class="img-responsive myimg" src="img/newlogo.png" alt="">
            <div class="row">
                <h3>DESARROLLO CON STACK MEAN</h3>
            </div>
            <div class="row">
                <p>
                    <button class="btn btn-info" data-toggle="modal" data-target="#registro">Registro</button>
                </p>
                 
                <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Name</th>
             
                          <th>Email Address</th>
                          <th>Mobile Number</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
              {%block contenidoArray %}
              
              {% endblock%}
                      </tbody>
                </table>
        </div>
        </div>

        <div class="modal fade" id="registro">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Registro de Personas</h4>
              </div>
              <div class="modal-body">
                
                <form action="" method="POST" role="form">
                
                  <div class="form-group">
                    <label for="">Name:</label>
                    <input type="text" class="form-control" id="" placeholder="Name">
                    <label>Email:</label>
                    <input class="form-control" type="email" name="" value="" placeholder="Email"> 
                    <label>Phone:</label>
                    <input class="form-control" type="tel" name="" value="" placeholder="Phone Number">
                  </div>
                
                  
                
                  <button type="submit" class="btn btn-primary">Submit</button>

                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div> <!-- /container -->
  </body>
</html>